<a href="https://colab.research.google.com/github/chabelicastano/cap4770-spring23/blob/main/Projects/ChabeliCastano_P01_BachChorales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import pandas
import pandas as pd

In [2]:
# I saved the csv file in colab
# read 'bach.csv'
bach_df = pd.read_csv('bach.csv')
bach_df

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label
0,000106b_,1,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,3,F_M
1,000106b_,2,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,E,5,C_M
2,000106b_,3,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,E,2,C_M
3,000106b_,4,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,3,F_M
4,000106b_,5,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,2,F_M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,NO,NO,YES,NO,NO,NO,NO,YES,NO,NO,YES,NO,G,4,G_m
5661,015505b_,106,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES,NO,NO,G,3,G_m
5662,015505b_,107,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,C,5,C_M
5663,015505b_,108,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,YES,NO,C,3,C_M
5664,015505b_,109,NO,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,4,F_M

In [3]:
#check the labels
bach_df['chord_label'].unique()

array(['F_M', 'C_M', 'D_m', 'BbM', 'C_M7', 'D_m7', 'G_M', 'A_m', 'C_M4',
       'G_m', 'G_M7', 'D_M', 'F#d', 'AbM', 'C#d7', 'D_M7', 'A_M', 'EbM',
       'F_M7', 'C_m', 'A_M4', 'F#m', 'B_M', 'E_M', 'D#d', 'C#M', 'F#m7',
       'A#d', 'B_m', 'E_M7', 'E_m', 'F#M', 'F#M7', 'B_M7', 'A_m6', 'C#d',
       'A_m7', 'A_d', 'C_m7', 'G_m6', 'D_M4', 'G_m7', 'E_m7', 'E_m6',
       'A_M7', 'C#m', 'C#M7', 'A#d7', 'EbM7', 'B_m7', 'E_M4', 'C#m7',
       'F_M4', 'D_m6', 'G#d', 'G#d7', 'A_m4', 'D_M6', 'F_d', 'B_m6',
       'B_M4', 'C_m6', 'F_m', 'G_M4', 'F_m7', 'C_d6', 'F_m6', 'G_M6',
       'A_M6', 'F_M6', 'F#M4', 'B_d7', 'D_d7', 'E_d', 'Bbm', 'Bbm6',
       'DbM', 'C_d7', 'F#d7', 'Abd', 'Ebd', 'Dbd7', 'Dbd', 'Bbd', 'Dbm7',
       'Abm', 'DbM7', 'Dbm', 'F#m6', 'G#m', 'B_d', 'C_M6', 'D#m', 'D#M',
       'BbM7', 'F_d7', 'C#d6', 'G_d', 'G#M', 'C#M4', 'D#d6', 'D#d7'],
      dtype=object)

In [4]:
# check for null values
bach_df.isnull().values.any()

False

In [5]:
# Encode Binary Categorical columns (notes)
binary_cat_columns = ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B']
for col in binary_cat_columns:
  bach_df[col] = bach_df[col].replace({'YES': 1, 'NO': 0})

bach_df

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label
0,000106b_,1,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M
1,000106b_,2,1,0,0,0,1,0,0,1,0,0,0,0,E,5,C_M
2,000106b_,3,1,0,0,0,1,0,0,1,0,0,0,0,E,2,C_M
3,000106b_,4,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M
4,000106b_,5,1,0,0,0,0,1,0,0,0,1,0,0,F,2,F_M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,0,0,1,0,0,0,0,1,0,0,1,0,G,4,G_m
5661,015505b_,106,0,0,1,0,0,0,0,1,0,1,0,0,G,3,G_m
5662,015505b_,107,1,0,0,0,1,0,0,1,0,0,0,0,C,5,C_M
5663,015505b_,108,1,0,0,0,1,0,0,1,0,0,1,0,C,3,C_M
5664,015505b_,109,0,0,0,0,0,1,0,0,0,1,0,0,F,4,F_M

In [6]:
# Since some chord_labels occur only once, we are going to drop it to avoid them being 
# only in the test and not in the train, and viceversa

#count the ocurrences of each cord_label and add it as a column to the dataframe
bach_df['chord_label_count'] = bach_df.groupby('chord_label')['chord_label'].transform('count')
bach_df

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label,chord_label_count
0,000106b_,1,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M,389
1,000106b_,2,1,0,0,0,1,0,0,1,0,0,0,0,E,5,C_M,488
2,000106b_,3,1,0,0,0,1,0,0,1,0,0,0,0,E,2,C_M,488
3,000106b_,4,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M,389
4,000106b_,5,1,0,0,0,0,1,0,0,0,1,0,0,F,2,F_M,389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,0,0,1,0,0,0,0,1,0,0,1,0,G,4,G_m,179
5661,015505b_,106,0,0,1,0,0,0,0,1,0,1,0,0,G,3,G_m,179
5662,015505b_,107,1,0,0,0,1,0,0,1,0,0,0,0,C,5,C_M,488
5663,015505b_,108,1,0,0,0,1,0,0,1,0,0,1,0,C,3,C_M,488
5664,015505b_,109,0,0,0,0,0,1,0,0,0,1,0,0,F,4,F_M,389

In [7]:
# I need to count how many rows will be dropped, to make sure afterwards
# that it was properly done

#display the entries whose chord_label_count is 1
bach_df.loc[(bach_df['chord_label_count']== 1)]

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label,chord_label_count
771,001007b_,32,0,0,1,1,0,0,0,1,0,0,0,0,D,5,EbM7,1
3076,005708b_,61,1,0,0,1,0,0,1,0,0,1,0,0,F#,3,F#d7,1
3114,012006b_,30,0,0,1,0,0,0,0,0,1,0,0,1,B,3,Abd,1
3188,012106b_,11,0,0,0,1,0,0,1,0,0,1,0,0,F#,4,Ebd,1
3464,012406b_,49,0,1,0,0,0,1,0,0,1,0,0,1,F,4,DbM7,1
4652,014406b_,88,0,0,1,0,0,1,0,0,1,0,0,1,F,3,F_d7,1
4782,014505b_,23,1,0,0,1,0,0,0,0,1,0,0,0,G#,3,G#M,1
5159,015105b_,40,1,0,0,1,0,0,1,0,0,1,0,0,D#,4,D#d6,1

So, we have 8 rows where the label count is 1. After we dropped then, we should have 5657 rows in our bach_df

In [8]:
#remove the entries where chord_label_count == 1
bach_df = bach_df[bach_df.chord_label_count != 1]
bach_df

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label,chord_label_count
0,000106b_,1,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M,389
1,000106b_,2,1,0,0,0,1,0,0,1,0,0,0,0,E,5,C_M,488
2,000106b_,3,1,0,0,0,1,0,0,1,0,0,0,0,E,2,C_M,488
3,000106b_,4,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M,389
4,000106b_,5,1,0,0,0,0,1,0,0,0,1,0,0,F,2,F_M,389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,0,0,1,0,0,0,0,1,0,0,1,0,G,4,G_m,179
5661,015505b_,106,0,0,1,0,0,0,0,1,0,1,0,0,G,3,G_m,179
5662,015505b_,107,1,0,0,0,1,0,0,1,0,0,0,0,C,5,C_M,488
5663,015505b_,108,1,0,0,0,1,0,0,1,0,0,1,0,C,3,C_M,488
5664,015505b_,109,0,0,0,0,0,1,0,0,0,1,0,0,F,4,F_M,389

As we can see 8 entries were succesfully removed and now we have 5657 rows in the bach_df

In [9]:
# Now, let's encode 'bass' since this is a categorical column

#import OneHotEncoding from sklearn
from sklearn.preprocessing import OneHotEncoder

#create an encoder instance
ohe = OneHotEncoder(handle_unknown='ignore')

In [10]:
#create a df that only contains the 'bass' column, to make data handling easier
bass_df = bach_df[['bass']]
bass_df

     bass
0       F
1       E
2       E
3       F
4       F
...   ...
5660    G
5661    G
5662    C
5663    C
5664    F

[5657 rows x 1 columns]

In [11]:
# transform the column
transformed = ohe.fit_transform(bass_df[['bass']])

#create a dataframe with the columns resulting from the OneHotEncoding transformation
bass_2 = pd.DataFrame.sparse.from_spmatrix(transformed, columns=ohe.get_feature_names_out())
bass_2

,bass_A,bass_A#,bass_Ab,bass_B,bass_Bb,bass_C,bass_C#,bass_D,bass_D#,bass_Db,bass_E,bass_Eb,bass_F,bass_F#,bass_G,bass_G#
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5654,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5655,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [12]:
# join the onehotencoded columns to the original dataframe

# name of the columns in the bass_2 df
bass2_cols = list(bass_2.columns)

bass2_cols

['bass_A',
 'bass_A#',
 'bass_Ab',
 'bass_B',
 'bass_Bb',
 'bass_C',
 'bass_C#',
 'bass_D',
 'bass_D#',
 'bass_Db',
 'bass_E',
 'bass_Eb',
 'bass_F',
 'bass_F#',
 'bass_G',
 'bass_G#']

In [13]:
# join those transformed columns to the bach_df
for col in bass2_cols:
  bach_df[col] = bass_2[col].values
bach_df

<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values
<ipython-input-13-4929a79f4877>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bach_df[col] = bass_2[col].values

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,...,bass_C#,bass_D,bass_D#,bass_Db,bass_E,bass_Eb,bass_F,bass_F#,bass_G,bass_G#
0,000106b_,1,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,000106b_,2,1,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,000106b_,3,1,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,000106b_,4,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,000106b_,5,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5661,015505b_,106,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5662,015505b_,107,1,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5663,015505b_,108,1,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5664,015505b_,109,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
#check for null values
# I'm doing this because for some of my tries joining the columns I got some NaN values
# out of nowhere, so I want to make sure that the copy was succesful
bach_df.isnull().values.any()

False

In [15]:
# Let's drop the original 'bass' column
bach_df = bach_df.drop('bass', axis=1)
bach_df

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,...,bass_C#,bass_D,bass_D#,bass_Db,bass_E,bass_Eb,bass_F,bass_F#,bass_G,bass_G#
0,000106b_,1,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,000106b_,2,1,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,000106b_,3,1,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,000106b_,4,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,000106b_,5,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5661,015505b_,106,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5662,015505b_,107,1,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5663,015505b_,108,1,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5664,015505b_,109,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [16]:
# let's label encode the chord_label column

#import LabelEncoder
from sklearn.preprocessing import LabelEncoder

#create a label encoder object
le = LabelEncoder()

#do the encoding
bach_df['chord_label'] = le.fit_transform(bach_df['chord_label'])
bach_df['chord_label']

0       75
1       34
2       34
3       75
4       75
        ..
5660    91
5661    91
5662    34
5663    34
5664    75
Name: chord_label, Length: 5657, dtype: int64

In [17]:
#divide train and test

#import for train_test_split
from sklearn.model_selection import train_test_split

bach_train, bach_test = train_test_split(bach_df, test_size = 0.2, random_state=42, stratify= bach_df['chord_label'])

In [18]:
# features and labels

# get the names of the columns
bach_columns = list(bach_df.columns)
bach_columns

['choral_ID',
 'event_number',
 'C',
 'C#',
 'D',
 'D#',
 'E',
 'F',
 'F#',
 'G',
 'G#',
 'A',
 'A#',
 'B',
 'meter',
 'chord_label',
 'chord_label_count',
 'bass_A',
 'bass_A#',
 'bass_Ab',
 'bass_B',
 'bass_Bb',
 'bass_C',
 'bass_C#',
 'bass_D',
 'bass_D#',
 'bass_Db',
 'bass_E',
 'bass_Eb',
 'bass_F',
 'bass_F#',
 'bass_G',
 'bass_G#']

In [19]:
# for features, I will use all the columns except for: 'choral_id', 'event_number', 'chord_label' 
# (which is the label), and 'chord_label_count'
# So, let's remove those from the list of column names
bach_columns.remove('choral_ID')
bach_columns.remove('event_number')
bach_columns.remove('chord_label')
bach_columns.remove('chord_label_count')

bach_columns

['C',
 'C#',
 'D',
 'D#',
 'E',
 'F',
 'F#',
 'G',
 'G#',
 'A',
 'A#',
 'B',
 'meter',
 'bass_A',
 'bass_A#',
 'bass_Ab',
 'bass_B',
 'bass_Bb',
 'bass_C',
 'bass_C#',
 'bass_D',
 'bass_D#',
 'bass_Db',
 'bass_E',
 'bass_Eb',
 'bass_F',
 'bass_F#',
 'bass_G',
 'bass_G#']

In [20]:
#features
#train
bach_features_train = bach_train[bach_columns]
#test
bach_features_test = bach_test[bach_columns]

In [21]:
#labels
#train
bach_labels_train = bach_train['chord_label']
#test
bach_labels_test = bach_test['chord_label']

In the previous lab, we learned how to use random search. For this project I wanted to use gridsearch since it's a more exhaustive method. It's also very expensive computationally-wise. I had the notebook running a whole night and I used all my compute units in collab. I had no option but to upgrade to collab pro. I tried to reduce the parameters grid, but again, it took sooo long and safari crashed (I don't know if it was related to it, but I lost my progress). Finally, I decided to go with random_search. My best parameters yielded an accuracy of about 74%. I read on slack that this is the best you can get without further manipulation of the data and certain classical music knowledge. I'm submitting this project as it is right now, but I plan to go back to it in the future to check if I can get better results.

In [22]:
#imports
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, cross_val_score

In [23]:
# XGBoost classifier
from xgboost import XGBClassifier
xgb = XGBClassifier()

In [24]:
#import for numpy - necessary for the arrays in the param_grid
import numpy as np

In [25]:
#param_grid
# I will be tuning the following parameters: 'learning_rate', 'max_depth', 'n_estimators'

param_grid = {
    'learning_rate': [0.0001,0.001, 0.01, 0.1, 1],
    'max_depth': np.arange(3, 21, 2),
    'n_estimators': np.arange(50, 400, 50),
    'tree_method': ['gpu_hist'], 
    'predictor' : ['gpu_predictor']
}

In [26]:
#import stratified kfold
from sklearn.model_selection import StratifiedKFold

#create the object
k_fold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

In [27]:
#define gridsearch
random_search = RandomizedSearchCV(estimator=xgb,
                           param_distributions=param_grid,
                           n_iter = 15,
                           cv=k_fold,
                           n_jobs=-1,
                           verbose=3)

In [28]:
#check gpu
!nvidia-smi

Fri Mar 24 13:43:14 2023
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 525.85.12    Driver Version: 525.85.12    CUDA Version: 12.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   42C    P8     9W /  70W |      0MiB / 15360MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [29]:
#fit the random_search
random_search.fit(bach_features_train, bach_labels_train)

Fitting 5 folds for each of 15 candidates, totalling 75 fits

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=5.
  warnings.warn(

RandomizedSearchCV(cv=StratifiedKFold(n_splits=5, random_state=42, shuffle=True),
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           callbacks=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None,
                                           early_stopping_rounds=None,
                                           enable_categorical=False,
                                           eval_metric=None, feature_types=None,
                                           gamma=None, gpu_id=None,
                                           grow_policy=None,
                                           importan...
                                           monotone_constraints=None,
                                           n_estimators=100, n_jobs=None,
                                           num_parallel_tree=None,
                                           predictor=None, random_state=None, ...),
                   n_iter=15, n_jobs=-1,
                   param_distributions={'learning_rate': [0.0001, 0.001, 0.01,
                                                          0.1, 1],
                                        'max_depth': array([ 3,  5,  7,  9, 11, 13, 15, 17, 19]),
                                        'n_estimators': array([ 50, 100, 150, 200, 250, 300, 350]),
                                        'predictor': ['gpu_predictor'],
                                        'tree_method': ['gpu_hist']},
                   verbose=3)

In [30]:
#Let's check which were the best parameters
random_search.best_params_

{'tree_method': 'gpu_hist',
 'predictor': 'gpu_predictor',
 'n_estimators': 250,
 'max_depth': 3,
 'learning_rate': 0.1}

In [31]:
#Let's predict
bach_predictions = random_search.best_estimator_.predict(bach_features_test)

In [32]:
#import for the accuracy
from sklearn.metrics import accuracy_score
#Finally, let's calculate the accuracy of the results
accuracy = accuracy_score(bach_labels_test, bach_predictions)
print('The accuracy score is: {:.4f}'.format(accuracy))

The accuracy score is: 0.7394

This is an screenshot of my results. Accuracy was approximately 74%


![Screenshot 2023-03-24 at 10.43.18 AM.png]()